#choose_destination
  %h1 Choose your Destination
  .destination-links
    = link_to image_tag( '/assets/LA.png'), menu_path( :destination => 'Los Angeles')
    = link_to image_tag( '/assets/CM.png'), menu_path( :destination => 'Costa Mesa')