%nav.view_nav.pull-right
  =link_to "view: calendar", parties_path

%h1 Party List 

= link_to 'Reserve Your Party', new_event_path, :class => 'btn btn-info'
%br
%br

= render 'list'

= link_to 'Reserve Your Party', new_event_path, :class => 'btn btn-info'
%br
%br
