%nav.view_nav.pull-right
  =link_to "view: calendar", parties_path

%h1 Event List 

- unless current_user.nil?
  - if current_user.role == 'admin'
    = link_to 'Add Event', new_event_path, :class => 'btn btn-info'
    %br
    %br

= render 'list'

- unless current_user.nil?
  - if current_user.role == 'admin'
    = link_to 'Add Event', new_event_path, :class => 'btn btn-info'
    %br
    %br
